@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

html,
body {
  height: 100%;
  padding: 0.2%;
  background-color: black;
}

.menu {
  grid-area: menu;
  border-radius: 8px;
  background-color: #121212;
  padding: 8px 12px;
  min-width: 20rem;
}

ul {
  padding: 4px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
.main-view {
  grid-area: main-view;
  border-radius: 8px;
  background-image: linear-gradient(
    to bottom,
    #454236,
    #22211d,
    #161514,
    #121212
  );
  color: aliceblue;
}

.bottom-menu {
  grid-area: bottom-menu;
  border-radius: 8px;
  background-color: #121212;
  min-width: 20rem;
}

.right-menu {
  grid-area: right-menu;
  border-radius: 8px;
  background-color: white;
  gap: 0;
}

.now-playing-bar {
  min-height: 5rem;
  grid-area: now-playing-bar;
  border-radius: 8px;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "menu main-view main-view main-view main-view"
    "bottom-menu main-view main-view main-view main-view"
    "bottom-menu main-view main-view main-view main-view"
    "bottom-menu main-view main-view main-view main-view"
    "bottom-menu main-view main-view main-view main-view"
    "bottom-menu main-view main-view main-view main-view"
    "bottom-menu main-view main-view main-view main-view"
    "bottom-menu main-view main-view main-view main-view"
    "bottom-menu main-view main-view main-view main-view"
    "footer footer footer footer footer";
  gap: 8px;
  height: 100%;
  width: 100%;
}

.title {
  box-sizing: border-box;
  font-family: sans-serif;
}

.albums {
  color: #a7a7a7;
}

.footer {
  position: fixed;
  bottom: 0;
  /* display: flex; */
  grid-area: footer;
  background-color: rgb(208, 127, 127);
  align-items: center;
  justify-content: center;
}

audio::-webkit-media-controls-panel {
  background-color: rgb(208, 127, 127);
}
